@using PersonelTakipOtomasyonu.Models.Entity
@model List<PersonalAction>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@{int sira = 1;}
<br />
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Personel Aksiyon Listesi</h3>
        <a href="/Action/Create" class="btn btn-primary btn-sm float-right">Aksiyon Ekle</a>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Aksiyon Tipi</th>
                    <th>Açıklama</th>
                    <th>Başlangıç Tarihi @*/ Bitiş Tarihi*@</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var personalAction in Model)
                {
                    <tr>
                        <td>@sira</td>
                        <td>@personalAction.ActionType.Name</td>
                        <td>@personalAction.Description</td>
                        <td>@personalAction.ActionTime.ToString("dd MMMM yyyy " + "—" + "SAAT" + " HH:mm ") @*/ @personalAction.EndTime.ToString("dd MMMM yyyy " + "—" + "SAAT" + " HH:MM")*@</td>

                        <td>
                            <div class="dropdown-left ">
                                <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="/Action/Edit/@personalAction.PersonalActionId"><i class="fas fa-cog"></i> Düzenle</a>
                                    <a class="dropdown-item" href="/Action/Delete/@personalAction.PersonalActionId" id="DeleteBtn" 
                                       onclick="return confirm('Silmek istediğinize emin misiniz?');"><i class="fas fa-trash"></i> Sil</a>
                                </div>
                            </div>

                        </td>

                    </tr>
                    sira++;
                }

            </tbody>
        </table>

    </div>
    <!-- /.card-body -->
</div>






